<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<base href="/">
<head th:replace="fragment/fragment :: head">
</head>

<body>


	<div id="wrapper">
		<!-- start header -->
		<header th:replace="fragment/fragment :: header"></header>
		<!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/index}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li class="active">Fullwidth</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="content">
			<div class="container">
				<div class="row">
					<div th:object="${center}" class="col-lg-12">
						<h3 th:text="${center.name}"></h3>
						<div th:each="image : ${center.imageSet}">
							<img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}" class="img-responsive" />
						</div>


						<h4>Chương trình khuyến mại</h4>
						<p th:text="${center.sale}">
						</p>
						<h4>Địa chỉ</h4>
						<p th:text="${center.address}">
						</p>
					</div>
				</div>
				</div>

		</section>

		<footer th:replace="fragment/fragment :: footer">

		</footer>

	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/uisearch.js"></script>
	<script src="js/jquery.cubeportfolio.min.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>


</body>

</html>
