<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/fragment :: head">
</head>

<body>



	<div id="wrapper">
		<!-- start header -->
		<header th:replace="fragment/fragment :: header"></header>
		<!-- end header -->
		<section>
			<div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">

				<div class="alert alert-success">
					<strong th:text="${success}"></strong>
				</div>
			</div>
		</section>
		<section id="featured" class="bg">
			<!-- start slider -->


			<!-- start slider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Slider -->
						<div id="main-slider" class="main-slider flexslider">
							<ul class="slides">
								<li>
									<img src="https://www.abdn.ac.uk/study/images/prospectus/assets/de9/43Ghfz4876ANPN4RER8smgh23TmP.jpg" alt="" />
									<div class="flex-caption">
										<h3>Học viện Công Nghệ Bưu Chính Viễn Thông</h3>
										<p>ngôi trường nổi tiếng Hà Nội về việc đào tạo ra các nhân tài chuyên ngành CNTT</p>
										<a href="#" class="btn btn-theme">Tìm hiểu thêm</a>
									</div>
								</li>
								<li>
									<img src="https://media.licdn.com/dms/image/C4E1BAQE3BqFBucUmqQ/company-background_10000/0?e=2159024400&v=beta&t=gxXOxmMiG4hbFtC0kegwBnh9xLacYr5Ssi83WFYRTfU" alt="" />
									<div class="flex-caption">
										<h3>Đại học Bách Khoa Hà Nội</h3>
										<p>Ngôi trường với điểm đầu vào cao trót vót</p>
										<a href="#" class="btn btn-theme">Tìm hiểu thêm</a>
									</div>
								</li>
								<li>
									<img src="https://learn.g2.com/hubfs/What_is_Information_Technology.jpg" alt="" />
									<div class="flex-caption">
										<h3>Dại học Ngoại Thương Hà Nội</h3>
										<p>Nơi tụ tập của các sinh viên vừa giàu vừa giỏi </p>
										<a href="#" class="btn btn-theme">Tìm hiểu thêm</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>


		</section>
		<section class="callaction">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="cta-text">
							<h2>Nhận liên kết với các  <span>trung tâm</span> dạy học trên địa bàn Hà Nội</h2>
							<p> Liên hệ với chúng tôi để biết thêm chi tiết và cách thức</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="cta-btn">
							<a th:href="@{/contact}" class="btn btn-theme btn-lg">Liên hệ ngay <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center">
							<h2>Bạn có thể làm những gì?</h2>
							<!-- <p></p> -->
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-sm-3 col-md-3 col-lg-3">
								<div class="box">
									<div class="aligncenter">
										<div class="icon">
											<i class="fa fa-group fa-5x"></i>
										</div>
										<h4>Xem review ngành CNTT tại các trường đại học</h4>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3">
								<div class="box">
									<div class="aligncenter">
										<div class="icon">
											<i class="fa fa-institution fa-5x"></i>
										</div>
										<h4>Xem thông tin về các trường đại học</h4>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3">
								<div class="box">
									<div class="aligncenter">
										<div class="icon">
											<i class="fa fa-book fa-5x"></i>
										</div>
										<h4>Tin tức mới nhất</h4>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3">
								<div class="box">
									<div class="aligncenter">
										<div class="icon">
											<i class="fa fa-bar-chart-o fa-5x"></i>
										</div>
										<h4>Xem bình chọn của trường</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- divider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="solidline">
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="blankline">
						</div>
					</div>
				</div>
			</div>
			<!-- end divider -->

			<!-- parallax  -->
			<div id="parallax1" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">
				<div class="container">
					<div class="row appear stats">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="align-center color-white txt-shadow">
								<div class="icon">
									<i class="fa fa-institution fa-5x"></i>
								</div>
								<strong id="counter-coffee" class="number" th:text="${schoolNumber}"></strong><br />
								<span class="text">Số trường học</span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="align-center color-white txt-shadow">
								<div class="icon">
									<i class="fa fa-language fa-5x"></i>
								</div>
								<strong id="counter-music" class="number" th:text="${reviewNumber}"></strong><br />
								<span class="text">Số bài review</span>
							</div>
						</div>

						<!-- <div class="col-xs-6 col-sm-3 col-md-3">
							<div class="align-center color-white txt-shadow">
								<div class="icon">
									<i class="fa fa-trophy fa-5x"></i>
								</div>
								<strong id="counter-heart" class="number">378</strong><br />
								<span class="text">Awwards</span>
							</div>
						</div> -->
					</div>
				</div>
			</div>



			<!-- divider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="solidline">
						</div>
					</div>
				</div>
			</div>
			<!-- end divider -->

			<!-- Portfolio Projects -->
			<div class="container marginbot50">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="heading">Trường học</h4>

						<div id="filters-container" class="cbp-l-filters-button">
							<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">Tất cả
								<div class="cbp-filter-counter"></div>
							</div>
							<div data-filter=".identity" class="cbp-filter-item">Cầu Giấy


								<div class="cbp-filter-counter"></div>
							</div>
							<div data-filter=".web-design" class="cbp-filter-item">Hà Đông


								<div class="cbp-filter-counter"></div>
							</div>
							<div data-filter=".graphic" class="cbp-filter-item">Hai Bà Trưng


								<div class="cbp-filter-counter"></div>
							</div>
							<div data-filter=".logo" class="cbp-filter-item">Thanh Xuân


								<div class="cbp-filter-counter"></div>
							</div>
							<div data-filter=".tuliem" class="cbp-filter-item">Từ Liêm


								<div class="cbp-filter-counter"></div>
							</div>

						</div>


						<div id="grid-container" class="cbp-l-grid-projects">
							<ul>
								<li th:each="school : ${listSchoolCauGiay}" class="cbp-item identity">
									<div class="cbp-caption">
										<div th:each="image : ${school.imageSet}" class="cbp-caption-defaultWrap">
											<img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}" style="height: 165px; width: 262px" />
										</div>
										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">
													<a href="img/works/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
												</div>
											</div>
										</div>
									</div>
									<a th:href="@{/school/{id}(id = ${school.id})}"><div th:text="${school.name}" class="cbp-l-grid-projects-title"></div></a>

								</li>
								<li th:each="school : ${listSchoolHaDong}" class="cbp-item web-design">
									<div class="cbp-caption">
										<div th:each="image : ${school.imageSet}" class="cbp-caption-defaultWrap">
											<img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}" style="height: 165px; width: 262px" />
										</div>
										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">
													<a href="img/works/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
												</div>
											</div>
										</div>
									</div>
									<a th:href="@{/school/{id}(id = ${school.id})}"><div th:text="${school.name}" class="cbp-l-grid-projects-title"></div></a>

								</li>
								<li th:each="school : ${listSchoolHaiBaTrung}" class="cbp-item graphic">
									<div class="cbp-caption">
										<div th:each="image : ${school.imageSet}" class="cbp-caption-defaultWrap">
											<img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}" style="height: 165px; width: 262px" />
										</div>
										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">
													<a href="img/works/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
												</div>
											</div>
										</div>
									</div>
									<a th:href="@{/school/{id}(id = ${school.id})}"><div th:text="${school.name}" class="cbp-l-grid-projects-title"></div></a>

								</li>
								<li th:each="school : ${listSchoolThanhXuan}" class="cbp-item logo">
									<div class="cbp-caption">
										<div th:each="image : ${school.imageSet}" class="cbp-caption-defaultWrap">
											<img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}"  style="height: 165px; width: 262px" />
										</div>
										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">
													<a href="img/works/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
												</div>
											</div>
										</div>
									</div>
									<a th:href="@{/school/{id}(id = ${school.id})}"><div th:text="${school.name}" class="cbp-l-grid-projects-title"></div></a>

								</li>
								<li th:each="school : ${listSchoolTuLiem}" class="cbp-item tuliem">
									<div  class="cbp-caption">
										<div th:each="image : ${school.imageSet}" class="cbp-caption-defaultWrap">
											<img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}" style="height: 165px; width: 262px"  />
										</div>
										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">
													<a href="img/works/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
												</div>
											</div>
										</div>
									</div>
									<a th:href="@{/school/{id}(id = ${school.id})}"><div th:text="${school.name}" class="cbp-l-grid-projects-title"></div></a>

								</li>




							</ul>
						</div>

						<div class="cbp-l-loadMore-button">
							<a href="ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
						</div>

					</div>
				</div>
			</div>


			<!-- divider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="solidline">
						</div>
					</div>
				</div>
			</div>
			<!-- end divider -->

			<!-- clients -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center">
							<h2>Đối tác của chúng tôi? </h2>
							<!-- <p></p> -->
						</div>
					</div>
				</div>
				<div class="row" >
					<div th:each="center:${total_center}">
						<div th:each="image : ${center.imageSet}" class="col-xs-6 col-md-2 aligncenter client">
							<a th:href="@{/center/{id}(id = ${center.id})}"><img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}"  class="img-responsive"></a>
						</div>
					</div>

				</div>
			</div>

		</section>

		<footer th:replace="fragment/fragment :: footer">

		</footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="plugins/flexslider/jquery.flexslider-min.js"></script>
	<script src="plugins/flexslider/flexslider.config.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/uisearch.js"></script>
	<script src="js/jquery.cubeportfolio.min.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>


</body>

</html>
