<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/fragment::head">

</head>

<body>



	<div id="wrapper">
		<!-- start header -->
		<header th:replace="fragment/fragment::header" ></header>
		<!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">Features</a><i class="icon-angle-right"></i></li>
							<li class="active">Register</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="content">
			<div class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<small th:if="${param.error}" class="error">Tài khoản hoặc mật khẩu không đúng</small>
						<small th:if="${param.logout}" class="success">Bạn đã đăng xuất thành công</small>
						<form th:action="@{/login}" method="post" role="form" class="register-form">
							<h2>Đăng nhập <small>quản lý tài khoản của bạn</small></h2>
							<hr class="colorgraph">

							<div class="form-group">
								<input type="text" name="userName" id="email" class="form-control input-lg" placeholder="Tên đăng nhập" tabindex="4" required>
							</div>
							<div class="form-group">
								<input type="password" name="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Mật khẩu" required>
							</div>

							<div class="row">
								<div class="col-xs-4 col-sm-3 col-md-3">
												<span class="button-checkbox">
									<!--<button type="button" class="btn" data-color="info" tabindex="7">Lưu mật khẩu</button>-->
									<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
								</span>
								</div>
							</div>

							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-md-6"><input type="submit" value="Đăng nhập" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
								<div class="col-xs-12 col-md-6">Bạn không có tài khoản? <a th:href="@{register}">Đăng kí</a></div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</section>

		<footer th:replace="fragment/fragment :: footer"></footer>

	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/uisearch.js"></script>
	<script src="js/jquery.cubeportfolio.min.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>


</body>

</html>
