<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<base href="/">
<head th:replace="fragment/fragment :: head">
</head>
<body>


	<div id="wrapper">
		<!-- start header -->
		<header th:replace="fragment/fragment :: header"></header>
		<!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">Features</a><i class="icon-angle-right"></i></li>
							<li class="active">Register</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="content">
			<div class="container">

				<div class="row">

					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<form th:action="@{/person/save}" th:object="${person}" role="form" method="post" class="register-form" novalidate="novalidate">
							<h2>Đăng kí <small>Miễn phí và luôn như vậy!</small></h2>
							<hr class="colorgraph">
							<div class="form-group">
								<input th:field="*{name}" type="text" name="name" id="name" class="form-control input-lg" placeholder="Họ và Tên" tabindex="1" th:errorclass="field-error" required>
								<em style="color: #d9232d" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
							</div>
							<div class="form-group">
								<input th:field="*{userName}" type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Tên Hiển Thị" tabindex="3" th:errorclass="field-error" required>
								<em style="color: #d9232d" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></em>
							</div>
							<div class="form-group">
								<input th:field="*{address}" type="text" name="address" id="address" class="form-control input-lg" placeholder="Địa chỉ" tabindex="3" required>
								<em style="color: #d9232d" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></em>
							</div>
							<div class="form-group">
								<input th:field="*{dob}" type="text" name="dob" id="dob" class="form-control input-lg" placeholder="Ngày Sinh" tabindex="3" required>
								<em style="color: #d9232d" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></em>
							</div>
							<div class="form-group">
								<input th:field="*{email}" type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="4" required>
								<em style="color: #d9232d" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input th:field="*{password}" type="password" name="password" id="password" class="form-control input-lg" placeholder="Mật khẩu" tabindex="5">
										<em style="color: #d9232d" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></em>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div  class="form-group">
										<input onchange="checkPassword(this)" type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Xác nhận mật khẩu" tabindex="6">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<em class="centerBlock" id="warning" hidden style="color: #d9232d"> Mật khẩu chưa khớp</em>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 col-sm-3 col-md-3">
									<span class="button-checkbox">
						<button type="button" class="btn" data-color="info" tabindex="7">Tôi đồng ý</button>
                        <input onchange="checkRegister()" type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
					</span>
								</div>
								<div class="col-xs-8 col-sm-9 col-md-9">
									Chọn <strong class="label label-primary">Đăng kí</strong>, bạn đồng ý với <a href="#" data-toggle="modal" data-target="#t_and_c_m">điều khoản</a> của website bao gồm các hoạt động liên quan đến sử dụng Cookie.
								</div>
							</div>

							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-md-6"><input id="btnRegister" type="submit" value="Đăng kí" class="btn btn-theme btn-block btn-lg" tabindex="7"></div>
								<div class="col-xs-12 col-md-6">Bạn đã có tài khoản? <a th:href="@{login}">Đăng nhập</a></div>
							</div>
						</form>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title" id="myModalLabel">Điều khoản</h4>
							</div>
							<div class="modal-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			</div>
		</section>

		<footer th:replace="fragment/fragment :: footer">

		</footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/uisearch.js"></script>
	<script src="js/jquery.cubeportfolio.min.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.3/cleave.min.js"></script>
	<script>
		checkRegister();
		function checkRegister() {
			var checked = document.querySelector('#t_and_c').checked;
			if(checked){
				document.querySelector('#btnRegister').disabled = false;
			}else {
				document.querySelector('#btnRegister').disabled = true;

			}
		}
		function checkPassword(obj) {
			debugger;
			var password = document.querySelector('#password').value;
			var passwordConfirm = obj.value;
			if(password.trim() != passwordConfirm.trim()){
				document.querySelector('#warning').removeAttribute("hidden");
				document.querySelector('#btnRegister').disabled = true;
			}else {
				document.querySelector('#warning').setAttribute("hidden", true);
				document.querySelector('#btnRegister').disabled = false;
			}
		}

		var cleave = new Cleave('#input-element', {
			date: true,
			delimiter: '-',
			datePattern: ['Y', 'm', 'd']
		});
	</script>


</body>

</html>
