<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<base href="/">
<head th:replace="fragment/fragment :: head">

</head>


<body>


	<div id="wrapper">
        <!-- start header -->
        <header th:replace="fragment/fragment :: header"></header>
        <!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/index}"><i class="fa fa-home"></i></a></li>
							<li class="active">Thông tin trường học</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section id="content" th:object="${school}">
			<div class="container">
				<div class="row">

					<div class="col-lg-4">
						<aside class="left-sidebar">
							<div class="widget">
								<form role="form">
									<div class="form-group">
										<input type="text" class="form-control" id="s" placeholder="Tìm kiếm..">
									</div>
								</form>
							</div>
							<div class="widget">
								<h5 class="widgetheading">Trường học</h5>
								<ul class="cat">
									<li><i class="fa fa-angle-right"></i><a href="#">Cầu Giấy</a><span> (2)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Hà Đông</a><span> (1)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Hai Bà Trưng</a><span> (1)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Từ Liêm</a><span> (2)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Thanh Xuân</a><span> (2)</span></li>
								</ul>
							</div>
							<!--<div class="widget">-->
								<!--<h5 class="widgetheading">Latest posts</h5>-->
								<!--<ul class="recent">-->
									<!--<li>-->
										<!--<img src="img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />-->
										<!--<h6><a href="#">Lorem ipsum doloKhuyến mạir sit</a></h6>-->
										<!--<p>-->
											<!--Mazim alienum appellantur eu cu ullum officiis pro pri-->
										<!--</p>-->
									<!--</li>-->
									<!--<li>-->
										<!--<a href="#"><img src="img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" /></a>-->
										<!--<h6><a href="#">Maiorum ponderum eum</a></h6>-->
										<!--<p>-->
											<!--Mazim alienum appellantur eu cu ullum officiis pro pri-->
										<!--</p>-->
									<!--</li>-->
									<!--<li>-->
										<!--<a href="#"><img src="img/dummies/blog/65x65/thumb3.jpg" class="pull-left" alt="" /></a>-->
										<!--<h6><a href="#">Et mei iusto dolorum</a></h6>-->
										<!--<p>-->
											<!--Mazim alienum appellantur eu cu ullum officiis pro pri-->
										<!--</p>-->
									<!--</li>-->
								<!--</ul>-->
							<!--</div>-->
							<!--<div class="widget">-->
								<!--<h5 class="widgetheading">Popular tags</h5>-->
								<!--<ul class="tags">-->
									<!--<li><a href="#">Web design</a></li>-->
									<!--<li><a href="#">Trends</a></li>-->
									<!--<li><a href="#">Technology</a></li>-->
									<!--<li><a href="#">Internet</a></li>-->
									<!--<li><a href="#">Tutorial</a></li>-->
									<!--<li><a href="#">Development</a></li>-->
								<!--</ul>-->
							<!--</div>-->
						</aside>
					</div>

					<div class="col-lg-8">
						<article>
							<div class="post-image">
								<div  class="post-heading">
									<h3 th:text="${school.name}"><a href="#"></a></h3>
								</div>
								<div th:each="image : ${school.imageSet}">
                                    <img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}" class="img-responsive" />
                                </div>
							</div>
							<p th:text="${school.history}">
								<strong>Lịch sử</strong>
							</p>
							<blockquote th:text="${school.address}">

							</blockquote>

							<!--<div class="bottom-article">-->
								<!--<ul class="meta-post">-->
									<!--<li><i class="fa fa-calendar"></i><a href="#"> Mar 27, 2014</a></li>-->
									<!--<li><i class="fa fa-user"></i><a href="#"> Admin</a></li>-->
									<!--<li><i class="fa fa-comments"></i><a href="#">4 Comments</a></li>-->
									<!--<li><i class="fa fa-tags"></i><a href="#">Design</a>, <a href="#">Blog</a></li>-->
								<!--</ul>-->
							<!--</div>-->
						</article>
						<div  class="comment-area">

							<h4 th:text="${countReview + ' Reviews'}"></h4>
							<div th:each="review : ${reviewList}" class="media">
								<a href="#" class="pull-left"><img src="img/avatar.png" alt="" class="img-circle" /></a>
								<div class="media-body">
									<div  class="media-content">
										<h6 th:text="${review.person.userName}"><span>March 12, 2013</span></h6>

										<h6>Nội dung</h6>
										<p th:text="${review.title}">
										</p>
										<h6>Ưu điểm</h6>
										<p th:text="${review.advantage}">
										</p>
										<h6>Điểm cần khắc phục</h6>
										<p th:text="${review.weakness}">
										</p>
										<h6>Đánh giá</h6>

										<div class="container">
											<div class="row">
												<div class="col-lg-12">
													<div class="star-rating">
														<span class="fa fa-star-o" data-rating="1"></span>
														<span class="fa fa-star-o" data-rating="2"></span>
														<span class="fa fa-star-o" data-rating="3"></span>
														<span class="fa fa-star-o" data-rating="4"></span>
														<span class="fa fa-star-o" data-rating="5"></span>
														<input type="hidden" name="whatever1" class="rating-value" th:attr="data-value=${review.evaluation}" onload="loadStar()" >
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>




						</div>
							<div class="marginbot30"></div>
							<h4>Viết bài review</h4>

							<div sec:authorize="!isAuthenticated()">
								<a th:href="@{/login}"><button class="btn btn-theme btn-sm" ><span class="glyphicon glyphicon-log-in"></span> Bạn cần đăng nhập trước khi đăng bài review</button>
								</a>
							</div>


							<div sec:authorize="isAuthenticated()">
								<form th:object="${review}" th:action="@{/review/save}" method="post" novalidate="novalidate" role="form">
									<div  class="form-group" style="display: none;">
										<input th:value="${school.id}" name="schoolId" type="text">
									</div>
									<div class="form-group">
										<input th:field="*{title}" type="text" class="form-control" id="name" placeholder="* Nội Dung">
									</div>
									<div class="form-group">
										<textarea th:field="*{advantage}" class="form-control" rows="8" placeholder="* Ưu điểm"></textarea>
									</div>
									<div class="form-group">
										<textarea th:field="*{weakness}" class="form-control" rows="8" placeholder="* Điểm cần khắc phục"></textarea>
									</div>
									<h4>Đánh giá chung</h4>
									<div class="container">
										<div class="row">
											<div class="col-lg-12">
												<div class="star-rating1">
													<span class="fa fa-star-o" data-rating="1"></span>
													<span class="fa fa-star-o" data-rating="2"></span>
													<span class="fa fa-star-o" data-rating="3"></span>
													<span class="fa fa-star-o" data-rating="4"></span>
													<span class="fa fa-star-o" data-rating="5"></span>
													<input type="hidden" name="whatever1" class="rating-value1" th:field="*{evaluation}" >
												</div>
											</div>
										</div>
									</div>
									<!-- Default unchecked -->
									<div class="custom-control custom-checkbox">
										<input type="checkbox" id="defaultUnchecked" name="checkBox" th:field="*{checkBox}"  />
										<!--<input type="checkbox" class="custom-control-input" id="defaultUnchecked">-->
										<h4 style="display: inline" class="custom-control-label" for="defaultUnchecked">Chế độ ẩn danh</h4>
									</div>
									<br>

									<button type="submit" class="btn btn-theme btn-md">Viết bài</button>
								</form>
							</div>

						<div class="clear"></div>
					</div>


				</div>
			</div>
		</section>
        <footer th:replace="fragment/fragment :: footer">

        </footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="plugins/flexslider/jquery.flexslider-min.js"></script>
	<script src="plugins/flexslider/flexslider.config.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/uisearch.js"></script>
	<script src="js/jquery.cubeportfolio.min.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
	<script th:inline="javascript">
		// var $star_rating = $('.star-rating .fa');
		// var $value = $('.rating-value').val();
		//
		//
		// function setValueRatingStar() {
		//
		// }
		//

		var allStarRv = document.querySelectorAll('.star-rating');
		// console.log(allStarRv);
		allStarRv.forEach(function(ele,idx){
			var lstChild = ele.children;
			var numsStar = lstChild[lstChild.length - 1].getAttribute('data-value');
			// console.log(numsStar)
			for(var i = 0 ;i < numsStar; i ++){
				lstChild[i].classList.remove('fa-star-o');
				lstChild[i].classList.add('fa-star');
			}
		})

		var $star_rating1 = $('.star-rating1 .fa');
		console.log($star_rating1);
		var SetRatingStar1 = function() {
			return $star_rating1.each(function() {
				if (parseInt($star_rating1.siblings('input.rating-value1').val()) >= parseInt($(this).data('rating'))) {
					return $(this).removeClass('fa-star-o').addClass('fa-star');
				} else {
					return $(this).removeClass('fa-star').addClass('fa-star-o');
				}
			});
		};

		$star_rating1.on('click', function() {
			$star_rating1.siblings('input.rating-value1').val($(this).data('rating'));
			return SetRatingStar1();
		});

		SetRatingStar1();
		$(document).ready(function() {

		});
	</script>

</body>

</html>
