<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<base href="/">
<head th:replace="fragment/fragment :: head">
</head>

<body>


	<div id="wrapper">
		<!-- start header -->
		<header th:replace="fragment/fragment :: header"></header>
		<!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">Features</a><i class="icon-angle-right"></i></li>
							<li class="active">Search results</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="searchtitle">
							<p class="lead" th:text="${count} + 'trường học được tìm thấy'"></p>
						</div>
						<article th:each="school : ${searchSchoolList}">
							<div class="post-image">
								<div class="post-heading">
									<h3><a th:href="@{/school/{id}(id = ${school.id})}" th:text="${school.name}"></a></h3>
								</div>
								<div th:each="image : ${school.imageSet}">
									<img th:src="@{'/uploaded/' + ${image.url}}" th:alt="${image.name}" class="img-responsive" />
								</div>
							</div>

						</article>


					</div>

					<div class="col-lg-4">
						<aside class="left-sidebar">
							<div class="widget">
								<form role="form">
									<div class="form-group">
										<input type="text" class="form-control" id="s" placeholder="Tìm kiếm..">
									</div>
								</form>
							</div>
							<div class="widget">
								<h5 class="widgetheading">Trường học</h5>
								<ul class="cat">
									<li><i class="fa fa-angle-right"></i><a href="#">Cầu Giấy</a><span> (2)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Hà Đông</a><span> (1)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Hai Bà Trưng</a><span> (1)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Từ Liêm</a><span> (2)</span></li>
									<li><i class="fa fa-angle-right"></i><a href="#">Thanh Xuân</a><span> (2)</span></li>
								</ul>
							</div>
							<!--<div class="widget">-->
							<!--<h5 class="widgetheading">Latest posts</h5>-->
							<!--<ul class="recent">-->
							<!--<li>-->
							<!--<img src="img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />-->
							<!--<h6><a href="#">Lorem ipsum dolor sit</a></h6>-->
							<!--<p>-->
							<!--Mazim alienum appellantur eu cu ullum officiis pro pri-->
							<!--</p>-->
							<!--</li>-->
							<!--<li>-->
							<!--<a href="#"><img src="img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" /></a>-->
							<!--<h6><a href="#">Maiorum ponderum eum</a></h6>-->
							<!--<p>-->
							<!--Mazim alienum appellantur eu cu ullum officiis pro pri-->
							<!--</p>-->
							<!--</li>-->
							<!--<li>-->
							<!--<a href="#"><img src="img/dummies/blog/65x65/thumb3.jpg" class="pull-left" alt="" /></a>-->
							<!--<h6><a href="#">Et mei iusto dolorum</a></h6>-->
							<!--<p>-->
							<!--Mazim alienum appellantur eu cu ullum officiis pro pri-->
							<!--</p>-->
							<!--</li>-->
							<!--</ul>-->
							<!--</div>-->
							<!--<div class="widget">-->
							<!--<h5 class="widgetheading">Popular tags</h5>-->
							<!--<ul class="tags">-->
							<!--<li><a href="#">Web design</a></li>-->
							<!--<li><a href="#">Trends</a></li>-->
							<!--<li><a href="#">Technology</a></li>-->
							<!--<li><a href="#">Internet</a></li>-->
							<!--<li><a href="#">Tutorial</a></li>-->
							<!--<li><a href="#">Development</a></li>-->
							<!--</ul>-->
							<!--</div>-->
						</aside>
					</div>

				</div>


			</div>
		</section>

		<footer th:replace="fragment/fragment :: footer">

		</footer>

	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/uisearch.js"></script>
	<script src="js/jquery.cubeportfolio.min.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>

</body>

</html>
