<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment = "head">
    <meta charset="utf-8">
    <title>THE BEST WAY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bootstrap 3 template for corporate business" />
    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="plugins/flexslider/flexslider.css" rel="stylesheet" media="screen" />
    <link href="css/cubeportfolio.min.css" rel="stylesheet" />
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- Theme skin -->
    <link id="t-colors" href="skins/default.css" rel="stylesheet" />

    <!-- boxed bg -->
    <link id="bodybg" href="bodybg/bg1.css" rel="stylesheet" type="text/css" />

    <!-- =======================================================
    Theme Name: Sailor
    Theme URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
    ======================================================= -->
    <style>
        .star-rating {
            line-height:32px;
            font-size:1.25em;
        }

        .star-rating .fa-star{color: #d9232d;}
    </style>
</head>
<body>
    <!-- start header -->
    <header th:fragment="header">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="topleft-info">
                            <li><i class="fa fa-phone"></i> +0946 235025</li>
                        </ul>
                    </div>
                    <div class="col-md-6 awesomplete">
                        <div id="sb-search" class="sb-search">
                            <form th:action="@{/school/search}">
                                <input class="sb-search-input" placeholder="Nhập tên trường học..." type="text" value="" name="search" id="search">
                                <ul role="listbox" id="awesomplete_list_6" hidden="">
                                    <li aria-selected="false" id="awesomplete_list_6_item_0"><mark>Ca</mark>nada</li>
                                    <li aria-selected="false" id="awesomplete_list_6_item_1"><mark>Ca</mark>meroon</li>
                                    <li aria-selected="false" id="awesomplete_list_6_item_2">Madagas<mark>ca</mark>r</li>
                                    <li aria-selected="false" id="awesomplete_list_6_item_3">New <mark>Ca</mark>ledonia</li>
                                    <li aria-selected="false" id="awesomplete_list_6_item_4">Central Afri<mark>ca</mark>n Republic</li>
                                </ul>
                                <span class="visually-hidden" role="status" aria-live="assertive" aria-atomic="true" hidden="">No results found</span>
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search" title="Click to start searching"></span>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div sec:authorize="!isAuthenticated()">
                            <a th:href="@{/login}"><button class="btn btn-theme btn-sm" ><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div style="display: inline" class ="info-user" sec:authorize="isAuthenticated()">
                            <span>Chào</span>
                            <span style="text-transform: capitalize"  sec:authentication="name"></span>
                            <!--<p sec:authentication="principal.authorities"></p>-->
                            <form action="#" th:action="@{/logout}" method="POST">
                                <button class="btn btn-theme btn-sm" type="submit"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="img/3b63c2ee-26ca-4368-87ee-4598f490f785_200x200.png" alt="" width="110px" height="60px" /></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">TRUNG TÂM <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home slider 1</a></li>


                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">TRƯỜNG HỌC <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="components.html">Components</a></li>
                                <li><a href="pricing-box.html">Pricing box</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="fullwidth.html">Full width</a></li>
                                        <li><a href="right-sidebar.html">Right sidebar</a></li>
                                        <li><a href="left-sidebar.html">Left sidebar</a></li>
                                        <li><a href="comingsoon.html">Coming soon</a></li>
                                        <li><a href="search-result.html">Search result</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">Về Chúng Tôi</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">THÊM <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-rightsidebar.html">Tư vấn ngành học</a></li>
                                <li><a href="blog-leftsidebar.html">Góp ý cho chúng tôi</a></li>
                                <li><a href="post-rightsidebar.html">Cơ hội việc làm</a></li>
                                <li><a href="post-leftsidebar.html">Câu hỏi thường gặp</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/contact}">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

    <footer th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4">
                    <div class="widget">
                        <h4>Liên hệ với chúng tôi</h4>
                        <address>
                            <strong>The best way Inc</strong><br>
                            23 ngõ 100 đường Hoàng Quốc Việt<br>
                            Quận Cầu Giấy, Hà Nội </address>
                        <p>
                            <i class="icon-phone"></i> (+84) 3753-1909 - 0946 235 025 <br>
                            <i class="icon-envelope-alt"></i> duonglp97@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="widget">
                        <h4>Thông tin</h4>
                        <ul class="link-list">

                            <li><a href="#">Điều khoản</a></li>
                            <li><a href="#">Chính sách</a></li>
                            <li><a href="#">Các trung tâm liên kết</a></li>
                            <li><a href="#">Liên hệ với chúng tôi</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="widget">
                        <h4>Các trang hữu ích</h4>
                        <ul class="link-list">
                            <li><a href="#">Danh sách các trường</a></li>
                            <li><a href="#">Nhóm các ngành học</a></li>
                            <li><a href="#">Thông tin các trường</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-sm-3 col-lg-3">
                    <div class="widget">
                        <h4>Newsletter</h4>
                        <p>Fill your email and sign up for monthly newsletter to keep updated</p>
                        <div class="form-group multiple-form-group input-group">
                            <input type="email" name="email" class="form-control">
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-theme btn-add">Subscribe</button>
                    </span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>&copy; THE BEST WAY - Website review ngành học</p>
                            <div class="credits">
                                <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Sailor
              -->
                                Website được làm bởi <a href="https://bootstrapmade.com/">duonglp97</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>



</body>
</html>